:root {
  --darkprimary: #191919;
  --darksecondary: #1a1a1a;
  --darktertiary: #282828;
  --darkborder: #333;
  --lightborder: #cecece;
  --lightprimary: #ffffff;
  --lightsecondary: #cecece;
  --highlight: #13aa52;
  // --secondaryhighlight: #599ef2;
  // --danger: #df4759;
  --deepshadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.25);
  --shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.25);
}
