@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.container {
    width: 95% !important;
  }
}

@media screen and (min-width: 530px) {
  .date__button {
    min-width: 200px !important;
  }

  .react-datepicker-wrapper {
    width: 100% !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .header__info {
    display: none;
  }

  .react-datepicker-wrapper {
    display: block !important;
  }

  .date__button {
    font-size: 12px !important;
    z-index: 500;
  }

  .datepicker__input {
    max-width: unset !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 470px) {
  .react-datepicker-wrapper .react-datepicker__input-container input {
    min-width: 70px !important;
    width: 100%;
  }

  .react-datepicker-wrapper {
    width: 100% !important;
  }

  .article__container,
  .article__wrap {
    width: 100%;
  }

  .banner__container {
    max-height: auto;
    padding: 0;
  }

  .banner__container.fade {
    padding: 0 !important;
    height: auto;
    max-height: auto !important;
  }

  .banner__wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ui button.date__button {
    margin: 0 !important;
  }
}
