* main button,
* main button.ui.button {
  transition: 0.2s ease-in-out;
  background: var(--highlight);
  color: white !important;
  border-radius: 0 !important;
  padding: 15px 35px;
  margin-right: 0 !important;
}

* main button.ui.button:hover,
* main button.ui.button:active {
  background: var(--highlight);
  color: white;
  filter: brightness(1.25);
}
