.react-datepicker-wrapper .react-datepicker__input-container {
  height: 100%;

  input {
    height: 100%;
    width: 35vw;
    min-width: 300px;
    border: 1px solid var(--lightsecondary);
    padding: 0 20px;
  }
}

.react-datepicker {
  border-radius: 0 !important;
  border: 1px solid var(--lightborder) !important;
  box-shadow: var(--shadow) !important;
  z-index: 50000 !important;
  .react-datepicker__triangle {
    left: 20px !important;
  }
}

.react-datepicker__header {
  border-radius: 0 !important;
  background: var(--highlight) !important;
}

.react-datepicker__current-month {
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.react-datepicker-popper {
  z-index: 5000 !important;
}

.react-datepicker__day-name {
  color: white !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--highlight) !important;
  border-radius: 0 !important;
}

.react-datepicker__triangle {
  border-bottom-color: var(--highlight) !important;
}

.banner__container {
  max-height: 250px;
  height: 100%;
  transition: 1s ease-in-out;
  padding: 50px 20px;

  &.fade {
    max-height: 150px;
    padding: 30px 20px;
  }
}

.date__banner {
  transition: 0.5s ease-in-out;
  opacity: 1;

  &.fade {
    opacity: 0;
  }
}
